@using MusicS.Models
@model IEnumerable<Product>
@{
    ViewBag.Title = "MusicStore";
    Layout = "_Layout";

}
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-4 mt-2">
        <div class="card">
            <h4 class="m-2 p-2 text-center">Акция!</h4>
            <div class="card-body">
                <div class="card-img-actions"> <img src= "@Model.FirstOrDefault().ImageUrl" class="card-img img-fluid" width="96" height="100" alt="alternative text"> </div>
            </div>
            <div class="card-body bg-light text-center">
                <div class="mb-2">
                    <h6 class="font-weight-semibold mb-2"> <a href="/Home/Product" class="text-default mb-2" data-abc="true">@Model.FirstOrDefault().Name</a> </h6> <a href="#" class="text-muted" data-abc="true">@Model.FirstOrDefault().Category</a>
                </div>
                <h3 class="mb-0 font-weight-semibold">@Model.FirstOrDefault().Price P</h3>
                <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Добавить в корзину</button>
            </div>
        </div>
    </div>
    
    <div>
        <div class="container d-flex justify-content-center m-2 p-2">
            <h4>Популярные товары</h4>
        </div>
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                
                @{
                    int i = 0;
                    foreach (var product in Model)
                    {
                        i++;
                        <div class="col-md-4 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-img-actions"> <img src="@product.ImageUrl" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                                </div>
                                <div class="card-body bg-light text-center">
                                    <div class="mb-2">
                                        <h6 class="font-weight-semibold mb-2"> <a href="/Home/Product" class="text-default mb-2" data-abc="true">@product.Name</a> </h6> <a href="#" class="text-muted" data-abc="true">@product.Category</a>
                                    </div>
                                    <h3 class="mb-0 font-weight-semibold">@product.Price</h3>
                                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                                    <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Добавить в корзину</button>
                                </div>
                            </div>
                        </div>
                        if (i == 3)
                            break;
                    }
                }
            </div>
        </div>
        <div class="container d-flex justify-content-center m-2 p-2">
            <h4>Производители</h4>
        </div>
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                <div class="col-md-4 mt-2"> YAMAHA</div>
                <div class="col-md-4 mt-2"> YAMAHA</div>
                <div class="col-md-4 mt-2"> YAMAHA</div>
            </div>
        </div>
    </div>
</div>
    


